.card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(103, 103, 105, 0.3) 0px 19px 38px, rgba(105, 104, 103, 0.3) 0px 15px 12px;
    border-radius: 10px;
  }
.card .discount{
    color: red;
}
.cardImgTop {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}
.sub_btn{
  margin-left: 6px;
  width: 70px;
  height: 50px;
padding: 0;
margin-bottom: 10px;

}
 .btn{
  background-color:rgb(29, 29, 141);
  color: aliceblue;
}
.btn:hover{
  background-color:rgb(249, 249, 247);
  color:rgb(25, 39, 196)
}
h3{
  color:#1A1287
}
  
  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
  }