
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  padding: 20px;
}


.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.table{
  margin-left: 25px;
}

@media (max-width: 768px) {
  .profile-image {
    width: 120px;
    height: 120px;
  }
}


@media (max-width: 576px) {
  .profile-container {
    padding: 10px; 
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }
}




